html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
html {
	height: 100%;
	overflow: auto;
}
body {
	background: #202224;	/*background: #999;*/
	color: #ADB0A2;
}
.retro {
	font-size: 14pt;
	font-family: Monaco, Inconsolata, Consolas, Courier, monospace !important;
	line-height: 18pt !important;
	letter-spacing: 0.3pt;
}
.retro .topbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background: #17181a;
	height: 28pt;
}
.retro .tabs {
	position: fixed;
	height: 20pt;
	background: #17181a;
	z-index: 998;
	width: 100%;
	top: 18pt;
	height: 15pt;
	overflow: hidden;
	left: 0;
	padding: 5pt 0pt;
	display: flex;
	justify-content: space-around;
	transition: all 400ms ease;
}
.retro .tabs.unfocus {
	top: 0pt;
}
.retro .tabs>.tabs-item {
	font-family: 'gamegirl';
	font-size: 8pt;
	width: 15%;
	text-align: left;
	overflow-x: hidden;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}
.retro .tabs>.tabs-item.active::before {
	content: '*';
}
.retro .tabs>.tabs-item.active {
	color: #24C6E0;
}
.retro .main {
	margin-top: 40pt;
}
.retro .text {
	position: relative;
	display: inline-block;
	line-height: 20pt;
	font-size: 14pt;
	color: white;
	min-width: 180px;
	word-break: break-all;
}
.retro footer {
	position: fixed;
	display: flex;
	bottom: 0;
	height: 25pt;
	width: 100%;
	background: #202224;
	color: #555;
	z-index: 2;
}
.retro footer #editor-mode {
	font-family: 'Bit-Wonder';
	padding: 3pt 0 0 15pt;
	font-size: 8pt;
}
.retro footer #editor-mode.insert {
	color: #24C6E0;
}
.retro footer #editor-mode.visual {
	color: #f57157;
}
.retro footer #editor-mode.normal {
	color: #555;
}
.retro footer #editor-file {
	font-family: 'Bit-Wonder';
	padding: 3pt 0 0 15pt;
	font-size: 8pt;
	max-width: 135pt;
	overflow-x: hidden;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.retro footer #editor-syntax {
	font-family: 'Bit-Wonder';
	padding: 3pt 0 0 15pt;
	font-size: 8pt;
}