.CodeMirror-dialog {
  position: absolute;
  left: 0; right: 0;
  background: inherit;
  z-index: 15;
  padding: .1em .8em;
  overflow: hidden;
  color: inherit;
}

.CodeMirror-dialog-top {
  border-bottom: 1px dotted #24C6E0;
  top: 0;
}

.CodeMirror-dialog-bottom {
  border-top: 5px solid #24C6E0;
  bottom: 0;
}

.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: transparent;
  margin-top: 15px;
  width: 100%;
  color: #24C6E0;
  font-family: 'arcade', Monaco, 'Inconsolata';
  letter-spacing: 1.5pt;
  font-size: 15pt; 
}

.CodeMirror-dialog button {
  /*font-size: 70%;*/
}