:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
  background: #272822;
}

.token.comment,
.token.blockquote,
.token.shebang.important,
.token.shebang {
  color: #2A9BA3;
}

.token.operator,
.token.important,
.token.keyword,
.token.rule,
.token.tag,
.token.deleted,
.token.selector,
.token.prolog,
.token.title .token.punctuation {
  color: #4D92CC;
}

.token.property,
.token.entity,
.token.atrule,
.token.command,
.token.code {
  color: #CC5279;
}

.token.regex,
.token.atrule .token.property {
  color: #CC5279;
}

.token.pseudo-element,
.token.id,
.token.class,
.token.class-name,
.token.pseudo-class,
.token.function,
.token.namespace,
.token.inserted,
.token.symbol,
.token.url-reference .token.variable,
.token.attr-name {
  color: #BB6DC4;
}

.token.string,
.token.url,
.token.list,
.token.cdata,
.token.attr-value,
.token.attr-value a.token.url-link {
  color: #2C9372;
}

.token.constant,
.token.hexcode,
.token.builtin,
.token.number,
.token.boolean {
  color: #CC5279;
}

.token.doctype,
.token.punctuation,
.token.variable,
.token.macro.property {
  color: #6590DA;
}

.token.entity {
  cursor: help;
}

.token.title,
.token.title .token.punctuation {
  font-weight: bold;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

/* YAML */
.language-yaml .token.atrule {
  color: #4D92CC;
}

/* Bash */
.language-bash .token.function {
  color: #4D92CC;
}
